body{
    font-family: Palatino,"Palatino Linotype",serif
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #f0f0f0;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    margin-top: 1em;
    max-width: 700px;
}


.footer-container {
    margin: 0 auto;
    margin-top: 2em;
    max-width: 700px;
    border: #444;
}

.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.marketing p + h4 {
    margin-top: 28px;
}

.pep-body{
    padding: 2em;
    line-height: 200%;
}


.pep-body h1,
.pep-body h2,
.pep-body h3,
.pep-body h4 {
  line-height: 2em;
}

.pep-body h1 {
  font-size: 24.5px;
}

.pep-body h2 {
  font-size: 17.5px;
}

.pep-body h3 {
  font-size: 14px;
}

.pep-body h4 {
  font-size: 11.9px;
}

.pep-body h5 {
  font-size: 11.9px;
}

.pep-body h6 {
  font-size: 11.9px;
}

pre{
  border: none;
  background-color: transparent;
}

.literal, .literal-block{
  line-height: 100%;
  font-family: 'Ubuntu Mono', monospace;
  background-color: #fff;
  min-height: 40px;
  padding-right: 5px;
  padding-left: 5px;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.literal-block{
  padding-right: 20px;
  padding-left: 20px;

}

.table-div{
  padding: 2em 2em 0 2em;
}

.table-div table tr td:first-child { width: 7em; }

.footer {
  padding: 1em;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 0px;
}

.rfc2822 {
  display: none;
}

.pep-list h1,
.pep-list h2,
.pep-list h3,
.pep-list h4 {
  line-height: 2em;
}

.pep-list h4 {
  font-size: 17.5px;
  color: #444;
}
