<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Index of Python Enhancement Proposals (PEPs)</title>
    <meta name="author" content="Dougal Matthews">

    <link href="{{ url_for('static', filename='pep.css') }}" rel="stylesheet">

  </head>

  <body>

      <ul>
        <li>All</li>
        <li>Search</li>
        <li>About</li>
      </ul>

      <form action="/search/">
        <input type="text" name="q" />
        <input type="submit" value="search" />
      </form>

      {% block content %}

      {% endblock %}

  </body>
</html>
