{% extends "base/base.html" %}

{% block content %}

    <h3>PEP 0 - Index of Python Enhancement Proposals (PEPs)</h3>

    <div class="pep-list">

        {% for group, peps in sorted_peps %}

            {% if peps|length > 0 %}

                <h4>{{ group }}</h4>

                {% for pep in peps %}

                    <div class="span-6">
                        <a href="/{{ pep.number }}/">
                            PEP {{ "%04d"|format(pep.number) }} -- {{ pep.title }}
                        </a>

                        <div class="btn-group">
                            {% if pep.properties.status %}
                            <button class="btn btn-mini">
                                <a href="?status={{ pep.properties.status }}">{{ pep.properties.status }}</a>
                            </button>
                            {% endif %}
                            {% if pep.properties.type %}
                            <button class="btn btn-mini">
                                <a href="?type={{ pep.properties.type }}">{{ pep.properties.type }}</a>
                            </button>
                            {% endif %}
                        </div>

                    </div>

                {% endfor %}

            {% endif %}

        {% endfor %}

    </div>

{% endblock %}
