{% extends "base/base.html" %}

{% block title %} PEP {{ pep.number }} -- {{ pep.title }} -- {% endblock %}

{% block content %}

        {% if pep.properties['content-type'] == 'text/x-rst' %}
            <link href="{{ url_for('static', filename='rainbow/themes/github.css') }}" rel="stylesheet">
        {% endif %}

        <h2>PEP {{ pep.number }} -- {{ pep.title }}</h1>

        <div class="table-div">
            <table class="table table-striped table-bordered table-condensed">
            {% for k,v in pep.properties.items() %}
                <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
            {% endfor %}
            </table>
        </div>

        <div class="pep-body">
            {{ pep.content|safe }}
        </div>

{% endblock %}
