{% extends "base/base.html" %}

{% block title %} PEP Stats {% endblock %}
{% block description %}Statistics about the PEPs{% endblock %}

{% block content %}

    <h3>Number of PEPs by author</h3>

    <table class="table">
        <tr>
            <th>Author</th>
            <th>PEP Count</th>
        </tr>
        {% for author, count in top_authors %}
            <tr>
                <td>{{ author }}</td>
                <td>{{ count }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Most commonly used words in PEPs <br/><small>This is after stemming which is why some words are shortened like 'module' becomes 'modul'</small></h3>

    <table class="table">
        <tr>
            <th>Word</th>
            <th>Occurrences in PEPs</th>
        </tr>
        {% for word, count in top_words %}
            <tr>
                <td>{{ word }}</td>
                <td>{{ count }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
